<div class="container-fluid">
    <div id="header" class="row my-3">
        <div style="text-align: center;" class="col-sm-3 col-xxl-2">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Logo_UTFSM.png" alt="Logo-UTFSM" width="100px">
        </div>
        <div id="textobordado" class="d-none d-sm-block col-sm-8 col-xxl-8 d-flex align-self-center p-4 border-3 border-bottom border-secondary border-opacity-50">
            ASDSAdsadasdas
        </div>
        <div style="text-align: center;" class="d-none d-xxl-block col-xxl-2">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Logo_UTFSM.png" alt="Logo-UTFSM" width="100px">
        </div>
    </div>
    <div class="row d-none d-sm-block d-xxl-none bg-secondary bg-opacity-50">
        <nav class="navbar">
            <a href="#" class="navbar-brand">Inicio</a>
            <a href="{% url 'admin:index' %}" class="navbar-brand">Administración</a>
        </nav>
    </div>
</div>